name: Publish Image to GHCR

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hardened Images Registry
        uses: docker/login-action@v2
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Base Dev Environment
        uses: docker/build-push-action@v4
        with:
          context: ./dev-base
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/dev-node:v2

      - name: Build Rust Dev Environment
        uses: docker/build-push-action@v4
        with:
          context: ./dev-rust
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/dev-rust:v2
